.stego-nav {
}

.stego-body {
    margin: 15px;
    padding-top: 25px;
}

.inside-col {
    display: inline-block;
    margin-bottom: 50px;
}

.step-info {
    height: 160px;
}

.button-divs{
    text-align: center;
}

.canvas-div {
    text-align: center;
}

.hidden-bits-number {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}

upload-buttons{
    padding-bottom: 25px;
}

.page-header2 {
    padding-bottom: 25px;
}

.grayedout {
    color: darkgray;
}

.canvas-box {
    border: solid 1px black;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 12px;
}

.help-btn {
    padding-left: 10px;
}